@import '../../_variable.scss';

.article-box{
    padding: 30px;
    background: #ffffff;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    .category{
        display: block;
        font-size: 24px;
        color: $main-color;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .title{
        display: block;
        font-size:32px;
        margin-bottom: 15px;
    }
    .view-count{
        font-size: 24px;
        color: $text-sub-color;
        .iconfont{
            color: $text-sub-color; 
        }
    }
}